<header class="MainHeader">
  <div class="Logo">
    <h1>Super DB Administrator</h1>
  </div>
  <div class="HeaderNav">
    <div class="HeaderNav-wrapper">
      <div class="HeaderNav-Icon Notifications">
        <i class="fa fa-exclamation-triangle" aria-hidden="true">
          <span>2</span>
        </i>
      </div>
      <div class="HeaderNav-Icon Tasks">
        <i class="fa fa-tasks" aria-hidden="true">
          <span>3</span>
        </i>
      </div>
      <div class="HeaderNav-Icon Profile">
        <div class="Profile-NameWrapper">
          <span class="NameWrapper-name">Sean</span>
          <span class="NameWrapper-role">System Admin</span>
        </div>
        <div class="Profile-PictureWrapper">
          <img src="https://api.adorable.io/avatars/40/keoh@adorable.io.png" alt="Avatar">
        </div>
      </div>
    </div>
  </div>
  <div class="MenuToogle" id="toogleMenu" (click)="toogleMenu()">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
</header>
<section class="MainContent">
  <nav id="navMenu" class="MainNav" [ngClass]='{"hide" : !menuOpen}'>
    <div class="navProfile">
      <div class="Photo">
        <img src="https://api.adorable.io/avatars/120/keoh@adorable.io.png" alt="">
        <span class="badge">4</span>
      </div>
      <div class="ProfileName">
        Sean
      </div>
    </div>
    <div class="navContent">
      <ul class="navList">
        <li class="navListItem" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['']" class="navListItemLink" (click)="toogleMenu()">
            <i class="fa fa-television"></i>
            Dashboard
          </a>
        </li>
        <li class="navListItem" routerLinkActive="active">
          <a routerLink="projects"  class="navListItemLink">
            <i class="fa fa-flask"></i>
            Projects
          </a>
          <ul class="navDropdownList">
            <li class="navDropdownListItem" routerLinkActive="active">
              <a [routerLink]="['projects', 'project1']" class="navDropdownListItemLink" (click)="toogleMenu()">Proyecto 1</a>
            </li>
            <li class="navDropdownListItem" routerLinkActive="active">
              <a [routerLink]="['projects', 'project2']" class="navDropdownListItemLink" (click)="toogleMenu()">Proyecto 2</a>
            </li>
            <li class="navDropdownListItem" routerLinkActive="active">
              <a [routerLink]="['projects', 'project3']" class="navDropdownListItemLink" (click)="toogleMenu()">Proyecto 3</a>
            </li>
          </ul>
        </li>
        <li class="navListItem" routerLinkActive="active">
          <a routerLink="calendar" class="navListItemLink" (click)="toogleMenu()">
            <i class="fa fa-calendar"></i>
            Calendar
          </a>
        </li>
        <li class="navListItem" routerLinkActive="active">
          <a routerLink="graphs" class="navListItemLink" (click)="toogleMenu()">
            <i class="fa fa-area-chart"></i>
            Graphs
          </a>
        </li>
        <li class="navListItem" routerLinkActive="active">
          <a routerLink="configuration" class="navListItemLink" (click)="toogleMenu()">
            <i class="fa fa-gears"></i>
            Configuration
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="Content">
    <router-outlet></router-outlet>
  </section>
</section>
